@page "/BlogPage"
@inject PostService postService
<h3 >Blog Page</h3>

<div class="container">

    <p class="text-right">
        <a href="/CreatePost" class="btn btn-sm btn-success">Create Post <i class="fas fa-plus"></i></a>
    </p>
    <div class="row mt-3">
        @foreach (var item in postsData)
        {
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title my-3 text-info">@item.Title</h5>
                    <p class="card-text">@item.Paragraph</p>
                    <p class="card-text"><small class="text-muted">@item.PostDate</small></p>
                    <p class="card-text"><small class="text-muted font-italic">@item.author</small></p>
                    
                </div>
            </div>
        </div>
        }
    </div>
</div>

@code {

    public List<Post> postsData = new List<Post>();


    protected override void OnInitialized()
    {
        postsData = GetPosts();
    }

    public List<Post> GetPosts()
    {
        var post = postService.getAllPost();
        return post;
    }

}
